:root {
	--container-width: 1770px;
	--container-padding: 75px;

	// --font-main: 'Proxima Nova', sans-serif;

	--page-bg: #FFFEFC;

	--text-color: #333;

	// --accent: #ac182c;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

